 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
    color: #333;
}


 /* NAVBAR */

.nav-hover:hover {
    color: #dc3545 !important;
}

.dropdown-item:hover {
    color: #dc3545 !important;
    background-color: #f8f9fa !important;
}
span{
    color: red;
}

.banner-content h1 {
    font-size: 40px;
    font-weight: 600;
}
.banner-content p {
    margin-top: 8px;
    font-size: 15px;
}

.banner-content p a {
    color: #f3f3f3;
    text-decoration: none;
}

/* -------------------- INFOs -------------------- */
.infos-section {
    text-align: center;
    padding: 60px 20px;
}

.infos-section h4 {
    color: #ff4a57;
    margin-bottom: 10px;
}

.infos-section h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.info-container {
    display: flex;
    justify-content: center;
     flex-wrap: wrap;
    gap: 25px;
}

.info-box {
    background: #fff;
    width: 230px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.07);
    text-align: center;
}

.info-box i {
    font-size: 33px;
    color: #ff4a57;
    margin-bottom: 15px;
}

.info-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info-box p {
     color: #777;
    font-size: 14px;
    line-height: 1.6;
}
.haut{
    display: flex;
    justify-content: center;
    background-image: url(../assets/lena/image.jpg);
    color: #ffffff;
    padding: 80px;
}

.sectionform{
    background: #f2f7fc;
    padding: 70px 20px;
    text-align: center;
}
.sectionform h4{
    color: #ff4a57;
    margin-bottom: 8px;
}
.sectionform h2{
    font-size: 25px;
    margin-bottom: 8px;
}
.contact{
    width: 70%;
    max-width:900px;
    margin: auto;
}
.row{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.row input{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
textarea{
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 20px;
}
button{
    background: #ff4a57;
    color: #fff;
    padding: 12px 40px;
    cursor: pointer;
    font-size: 14px;
}

.carte img{
    width: 100%;
    height: auto;
}


/*  FOOTER  */
.footer-section {
    background: #031a32;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    color: #d0d6e2;
    transition: 0.2s;
}

.footer-links a:hover {
    color: #e60023;
}

.footer-post-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.footer-photo {
    width: 100%;
    height: 65px;
    border-radius: 4px;
    object-fit: cover;
}
   
    


