/* NAVBAR */
.nav-hover:hover {
    color: #dc3545 !important;
}

.dropdown-item:hover {
    color: #dc3545 !important;
    background-color: #f8f9fa !important;
}
.header-section {
    height: 300px;
    background-image: url(../assets/hamidou/myimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
a {
    text-decoration: none;
}

.article-card {
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
}

.img-wrapper {
    position: relative;
}

.img-wrapper img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}

.date-badge {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #e63946;
    color: white;
    padding: 4px 12px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
}

/* META INFOS */
.meta {
    font-size: 14px;
    color: #555;
    display: flex;
    justify-content: space-between;
}

.meta i {
    color: #e63946;
}

/* TITRE */
.title {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 6px;
}

/* DESCRIPTION */
.description {
    font-size: 14px;
    margin-bottom: 8px;
    color: #666;
}

/* LIEN */
.read-more {
    color: #e63946;
    text-decoration: none;
    font-weight: 600;
}

.read-more:hover {
    text-decoration: underline;
}


/*  FOOTER  */
.footer-section {
    background: #031a32;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    color: #d0d6e2;
    transition: 0.2s;
}

.footer-links a:hover {
    color: #e60023;
}

.footer-post-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.footer-photo {
    width: 100%;
    height: 65px;
    border-radius: 4px;
    object-fit: cover;
}