/* NAVBAR */
.nav-hover:hover {
    color: #dc3545 !important;
}

.dropdown-item:hover {
    color: #dc3545 !important;
    background-color: #f8f9fa !important;
}

/* GRAND HEADER BLEU */
.header-section {
    height: 300px;
    background-image: url(../assets/hamidou/myimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
a {
    text-decoration: none;
}

/* Boite contenant chaque image */
.img-box {
    border: 3px solid transparent;
    padding: 5px;
    transition: 0.3s;
}

.btn1 {
    background-color: #d0d6e2;
}
.btn1:hover,
.btn1:active {
    background-color: #dc3545;
    color: #fff;
}
.btn-group {
    flex-wrap: wrap;
}


/*  FOOTER  */
.footer-section {
    background: #031a32;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    color: #d0d6e2;
    transition: 0.2s;
}

.footer-links a:hover {
    color: #e60023;
}

.footer-post-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.footer-photo {
    width: 100%;
    height: 65px;
    border-radius: 4px;
    object-fit: cover;
}